---
import BaseLayout from "@/layouts/BaseLayout.astro";
import "@/styles/global.css";
import type { MarkdownPost } from "@/types/markdown";

const allPosts = (await Astro.glob("@/pages/posts/*.md")) as MarkdownPost[];
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];

const pageTitle = "Página de inicio";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    {
      tags.map((tag) => (
        <p>
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
