---
import Greeting from "@/components/Greeting";
import BaseLayout from "@/layouts/BaseLayout.astro";

import "@/styles/global.css";

const pageTitle = "Página de inicio";
---

<!-- client:load hace que el componente sea interactivo, se le llama componente hidratado -->
<BaseLayout pageTitle={pageTitle}>
  <h2>El impresionante subtítulo de mi blog</h2>
  <Greeting client:load messages={["Hola", "Qué tal", "Hola a todos"]} />
</BaseLayout>
