---
import BaseLayout from "@layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Escrito por:{frontmatter.author} en {frontmatter.pubDate}</p>
  <slot />
</BaseLayout>
